.panelWrapper {
  margin: 0px;
  background-image: url('../styles/assets/bg.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
  height: 100%;
}
