:global {
  @import 'base';
  @import '~normalize.css/normalize';

  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .border {
    border: 1px solid lightgray;
  }

  a, a:hover, a:visited {
    color: #285892;
  }
  svg{
    padding: 10px;
  }

  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
  }
}

