.bigText {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.link, .link:hover, .link:active, .link:link, .link:visited {
  text-decoration: none;
  color: #337ab7;
  color: #777;
}
