.container {
  position: absolute;
  font-family: ArialMT, Arial;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  background-color: white;
  height: 100%;
  z-index: 10;
  background-image: linear-gradient(to right bottom, #fff 0%, #f8f8f8 100%);
  //background-repeat: repeat-x;
  //border: rgb(231, 231, 231);
  //box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.items {
}

.filler {
  flex: 1 0 100%;
  min-height: 100%;
  height: 100%;
  //background-color: #f0f0f0;
  background-image: linear-gradient(to right bottom, #fff 0%, #f8f8f8 100%);
  border-right: 1px solid rgb(231, 231, 231);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.menuRow {
  display: flex;
  //flex-direction: row;
  //flex-wrap: nowrap;
  //x-justify-content: space-around;
  //x-align-items: stretch;
  position: relative;
  margin: 1px 0px;
  padding: 0px 0px;
  height: 60px;
  //background-color: #e7e7e7;
  background-image: linear-gradient(to right bottom, #fff 0%, #f8f8f8 100%);
  box-shadow: 0px 4px 4px rgba(255,255,255, 0.11);
  border: 1px solid transparent;
  border-right: 1px solid rgb(231, 231, 231);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.menuRow:first-of-type {
  margin-top: 2px;
}

.menuIcon {
  position: absolute;
  top: 0px;
  left: 8px;
  padding: 18px 22px;
}

.menuLink {
  position: absolute;
  left: -80px;
  flex: 0 1 160px;
  padding: 18px 4px;
  opacity: 0;
}

.menuRow:hover .menuIndicator {

}

.menuIndicator {
  flex: 0 0 8px;
  position: absolute;
  top: 30px;
  left: 0px;
  opacity: 0;
  width: 8px;
  height: 0px;
  background-color: #8fd0ea;
  border: 1px solid #70c0f0;
}


