.marginZero {
  margin: 0px !important;
}

.tdCenter {
  text-align: center;
  font-style: italic;
}

.appHeader {
  margin-top: 0px;
  margin-right: 6px;
  display: inline-block;
}

.globalSearchHeader {
  //top: 48px;
  //margin-top: 10px;
  //border-bottom: 1px solid #d9d9d9;
}

.formGroup {
  margin-top: 6;
}

.blockTable {
  margin: 20px 5px;
}
