﻿.body {
  margin:0px;
  background-image:url('/images/login/bg.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

.panel-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.panel {
  background-color: white;
  position: absolute;
  margin: 0 auto;
  width: 600px;
  height: 445px;
  left: calc(50% - 300px);
  top: calc(50% - 222.5px);
}

.logo {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.logo img {
  margin-top: 20px;
  width: 96px;
  height: 96px;
}

.logo h1 {
  margin-top: 0px;
  font-family: 'CiscoSans-Thin', 'CiscoSans Thin', 'CiscoSans';
  font-weight: 200;
  font-style: normal;
  font-size: 48px;
  color: #333333;
  line-height: normal;
}

.form-group {
  display: block;
  margin: 0 auto;
  vertical-align: top;
  width: 253px;
  border-bottom: 1px solid #cccccc;
}

.form-group input {
  margin: 0 auto;
  display: block;
  width: auto;
  vertical-align: middle;

  background-color: transparent;
  font-family: 'CiscoSansLight', 'CiscoSans Light', 'CiscoSans';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
  padding: 10px 0px;
}

.form-group-footer {
  width: 253px;
  margin: 30px auto;
}

.remember-me-container {
  position: relative;
  display: inline-block;
}

.remember-me-container input[type=checkbox] {
  margin: 0px 5px 0px 0px;
}

.remember-me-container label {

}

.forgot-password {
  display: inline-block;
  margin-left: 20px;
}

.forgot-password a {
  width: 100px;
  height: 13px;
  font-family: 'CiscoSansLight', 'CiscoSans Light', 'CiscoSans';
  font-weight: 200;
  font-style: normal;
  font-size: 11px;
  color: #1679B5;
}

.buttons {
  display: block;
  margin: 50px auto;
  text-align: center;
}

.button {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  background: inherit;
  background-color: rgba(240, 240, 240, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(204, 204, 204, 1);
  border-radius: 15px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

.button span {
  position: relative;
  top: 8px;
  color: rgb(204, 204, 204);
}
