.Header {
  width: 100%;
  //height: 73px;
}

.navbar {
  position: relative;
  height: 60px;
}

.icon {
  width: 64px;
  //height: 35px;
}

.storeLink {
  width: 80px;
  position: absolute;
  font-size: small;
  font-weight: bold;
  left: 16px;
  bottom: 0px;
  width: 54px;
  text-align: center;
  transform-origin: 27px 8px 0px;
  color: #28a1d5;
  //z-index: 2;
}
