.loadingBar {
}

.pageContainer {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.pageFirstRow {
  display: table-row;
  height: 80px;
}

.pageRow {
  display: table-row;
}

.pageLeftCell {
  position: relative;
  display: table-cell;
  width: 100px;
  height: 100%;
  min-height: 800px;
  //background-color: #f0f0f0;
}

.pageWideCell {
  width: 100%;
  height: 60px;
}

.pageCell {
  margin-left: 80px;
  vertical-align: top;
  display: table-cell;
  padding: 10px 14px;
}


