.node circle {
  fill: #286090;
}

.node text {
  font: 0.8vw sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #286090;
  stroke-opacity: 0.4;
  stroke-width: 0.2vw;
}
